<div id="alpha">
  <h2>【{'terms of service'|msg}】</h2>

  <p>{'terms of service description'|msg}</p>

  <h2>【{'prohibited matter'|msg}】</h3>

  <p>{'prohibited matter description'|msg}</p>

  <ul>
    <li>{'prohibition 1'|msg}</li>
    <li>{'prohibition 2'|msg}</li>
    <li>{'prohibition 3'|msg}</li>
    <li>{'prohibition 4'|msg}</li>
    <li>{'prohibition 5'|msg}</li>
    <li>{'prohibition 6'|msg}</li>
    <li>{'prohibition 7'|msg}</li>
    <li>{'prohibition 8'|msg}</li>
    <li>{'prohibition 9'|msg}</li>
    <li>{'prohibition 10'|msg}</li>
    <li>{'prohibition 11'|msg}</li>
    <li>{'prohibition 12'|msg}</li>
    <li>{'prohibition 13'|msg}</li>
    <li>{'prohibition 14'|msg}</li>
    <li>{'prohibition 15'|msg}</li>
    <li>{'prohibition 16'|msg}</li>
    <li>{'prohibition 17'|msg}</li>
    <li>{'prohibition 18'|msg}</li>
    <li>{'prohibition 20'|msg}</li>
    <li>{'prohibition 21'|msg}</li>
  </ul>

  <p>{'prohibited matter notice'|msg}<p>

  <h2>【{'information from users'|msg}】</h2>

  <p>{'information from users description'|msg}</p>

  <ol>
    <li>{'information from users 1'|msg}</li>
    <li>{'information from users 2'|msg}</li>
    <li>{'information from users 3'|msg}</li>
    <li>{'information from users 4'|msg}</li>
  </ol>

  <h2>【{'exemption matters'|msg}】</h2>

  <ol>
    <li>{'exemption matters 1'|msg}</li>
    <li>{'exemption matters 2'|msg}</li>
    <li>{'exemption matters 3'|msg}</li>
    <li>{'exemption matters 4'|msg}</li>
  </ol>

  <h2>【{'agreement and legal procedure'|msg}】</h2>

  <ol>
    <li>{'agreement and legal procedure 1'|msg}</li>
  </ol>
</div>
