{if isset($tag)}
<h2 id="entries_title">{$tag}</h2>
{/if}
{if $pager->numItems() > 0}
{foreach name=entry from=$pager->getPageData() item=entry}
<div class="entry">
  <h3 class="entry_title"><a href="{$entry.account}/{$entry.id}">{$entry.title}</a></h3>

  <div class="entry_description">{$entry.description}</div>

  <div class="entry_footer">
  {if !empty($entry.author)}
    <div class="entry_author">Posted by {$entry.author} at </div>
  {/if}
    <div class="entry_date">{$entry.date|date_format:"%Y-%m-%d %H:%M:%S"} </div>
  {if $entry.tags}
    <div class="entry_tag">Tags: 
    {foreach name=tags from=`$entry.tags` item=tag}
      <a href="{$SCRIPT_PATH}{$entry.account}/tag/{$tag.name|urlencode}">{$tag.name}</a>
      {if !$smarty.foreach.tags.last}, {/if}
    {/foreach}
    </div>
  {/if}
    <div class="entry_source">({'original entry'|msg} <img class="favicon" src="{$entry.favicon|tofavicon}" class="icon" /><a href="{$entry.uri}">{$entry.feed_title}</a>)</div>
  </div>
</div>
{/foreach}

<div class="pager">{$pager->slider}</div>
{/if}
