{literal}<?xml version="1.0" encoding="utf-8"?>{/literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>List of Modules</title>
<style type="text/css">
{literal}
<!--
.error {
	color: red;
}
-->
{/literal}
</style>
</head>

<body>
<h1>List of Modules</h1>
<fieldset>
<legend>Product list</legend>
    <li><a href="{mojavi_url module=Category action=List}">Category List</a></li>
    <li><a href="{mojavi_url module=ProductList action=List}">Product List</a></li>
    <li><a href="{mojavi_url module=ProductRegister action=Register}">Product Register </a></li>
	<li><a href="{mojavi_url module=CustomerRegister action=Register}">CustomerRegister</a></li>
	<li><a href="{mojavi_url module=ShoppingCart action=Show}">Shopping Cart</a></li>
    <li><a href="{mojavi_url module=Review action=List}">Review List</a></li>
    <li><a href="{mojavi_url module=Review action=Register mode=input}">Review Register</a></li>
	<li><a href="{mojavi_url module=MojaviInfo action=Index}">Mojavi Info</a></li>

</fieldset>
</body>
</html>