h2 {
  color:#33436A;
  font-size:14px;
  margin:0.4em 0pt;
  padding:0pt;
}

#content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content li {
  font-size: 13px;
  line-height: 160%;
}

#alpha {
  width: 95%;
  line-height: 160%;
}

#user_list {
  margin: 1em 0;
}

#user_list tr {
  height: 140px;
  vertical-align: top;
}

.user_list_profile_icon {
  padding-right: 1em;
}

.user_list_profile {
  padding-right: 1em;
  width: 20%;
}

.user_list_profile h3 {
  margin: 0 0 1em 0;
  font-size: medium;
}

.user_list_icon {
}

.user_list_profile_icon img {
  width: 100px;
  height: 100px;
  border: solid 1px #ccc;
}
