{literal}<?xml version="1.0" encoding="utf-8"?>{/literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" href="styles/style.css" type="text/css">
<link rel="stylesheet" href="styles/admin.css" type="text/css">
<link rel="stylesheet" href="styles/setting-index.css" type="text/css">
<script src="scripts/prototype.js" type="text/javascript"></script>
<title>設定メニュー</title>
</head>

<body>
<div id="container">
  <div id="header">
    {mojavi_action module=Blocks action=Header}
  </div>
  <div id="content">
    <div id="menu">{mojavi_action module=Blocks action=Menu}</div>
    <div id="alpha">
      <div id="information">
        Welcome to Plnet.
      </div>
    </div>
    <b class="rbottom"><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></b>
  </div>

  <div id="footer">{mojavi_action module=Blocks action=Footer}</div>

</div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-530606-2";
urchinTracker();
</script>
</body>
</html>
