{literal}<?xml version="1.0" encoding="utf-8"?>{/literal}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<base href="{$SCRIPT_PATH}" target="_self">
{css_link_tag name=niftyCorners}
{css_link_tag name=niftyPrint media=print}
{css_link_tag name=style}
{css_link_tag name=admin}
{js_link_tag name=nifty}
{js_link_tag name=prototype}
{js_link_tag name=scriptaculous}
{js_link_tag name=locale}
{js_link_tag name=JSAN}
{js_link_tag name=TrimPath/Template}
{js_link_tag name=Widget/Window}
{js_link_tag name=Widget/Dialog}
{js_link_tag name=Plnet/Dialog}
{js_link_tag name=Plnet/Member}
{if $module == 'MyContent' and $action == 'Index'}
{js_link_tag name=mycontent-index}
{/if}
<title>{$title}</title>
</head>

<body>
{include file="$shared_dir/analytics.html"}
<div id="container">
{include file="$shared_dir/header.html"}
{mojavi_action module=Blocks action=Menu}

  <div id="content">
    <div id="alpha">
{$partial}
    </div>
  </div>
{include file="$shared_dir/footer.html"}
</div>
<script type="text/javascript" src="scripts/corner-tab.js"></script>
</body>
</html>
