.pagination {
  padding: 3px 0;
  margin: 3px 0 13px 0;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000;
  text-decoration: none;
  color: #009;
}

.pagination a:hover, .pagination a:active {
  border: 1px solid #000;
  color: #009;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: #FF7100;
  color: #fff;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaa;
  color: #aaa;
}
