<div class="entry">
  <h3 class="entry_title">{$entry.title}</h3>
  <div class="entry_description">{$entry.description}</div>
  {include file="$shared_dir/ads.html"}
  <div class="entry_footer">
  {if !empty($entry.author)}
    <div class="entry_author">Posted by {$entry.author} at </div>
  {/if}
    <div class="entry_date">{$entry.date|date_format:"%Y-%m-%d %H:%M:%S"}</div>
  {if $entry.tags}
    <div class="entry_tag">Tags: 
    {foreach name=tags from=`$entry.tags` item=tag}
      <a href="{$SCRIPT_PATH}{$member->account}/tag/{$tag.name|urlencode}">{$tag.name}</a>
    {if !$smarty.foreach.tags.last}, {/if}
    {/foreach}
    </div>
    {/if}
    <div class="entry_source">
      ({'original entry'|msg} <img class="favicon" src="{$entry.favicon|tofavicon}" class="icon" />
      <a href="{$entry.uri}">{$entry.feed_title}</a>)
    </div>
  </div>
</div>

{if count($comments) > 0}
<div id="comments">
  <h2>Comments</h2>
  {foreach name=comments from=$comments item=comment}
  <div class="comment">
    <div class="commnet_body">{$comment->comment|nl2br}</div>
    <div class="comment_footer">
      <div class="comment_author">Posted by 
    {if $comment->link}
        <a href="{$comment->link}">{$comment->name}</a>
    {else}
        {$comment->name}
    {/if}
        at </div>
      <div class="comment_date">{$comment->createdtime|date_format:"%Y-%m-%d %H:%M:%S"}</div>
    </div>
  </div>
  {/foreach}
</div>
{/if}
